<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
  <button  class="section-title bg-white  text-center text-danger px-3" (click)="ouvrirPopup()">Add Projects
</button>
  <h1 class="mb-5">Popular Projects</h1>
</div>



<section>
<div class="card-container">
 
    <div class="card" *ngFor="let projet of donnees" >
      <div class="text-center p-4 pb-0">
        
        <h2 class="mb-0">{{projet.nom}}</h2>
        
          
        <h5 class="mb-4" >{{projet.specialite}} </h5>
        <h6> <small class="flex-fill text-center border-end py-2"><i class="fas fa-calendar-alt"> </i>{{projet.description}}</small></h6>
    </div>
      <div class="card-body">
        <div class="d-flex border-top">
          <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-danger me-2"></i>John Doe</small>
        
          <small class="flex-fill text-center py-2"><i class="fa fa-user text-danger me-2"></i> {{projet.nombre}} Students</small>

    </div>
    <br>
    <br>
    <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
     
      <a  routerLink="/modifierprojet/{{projet.idprojet}}" class="flex-shrink-0 btn btn-sm btn-danger px-3 border-end" style="border-radius: 30px 0 0 30px;">Modifier</a>
      <a (click)="deleteprojet(projet.idprojet)" class="flex-shrink-0 btn btn-sm btn-danger px-3" style="border-radius: 0 30px 30px 0;">Delete</a>
      <a class="btn btn-primary" (click)="ouvrirPopupQuiz(projet.idprojet)">Quizz</a>

  </div>
  </div>
    </div>
</div>
  
</section>
 <div #popupModal class="modal">
    <div class="modal-content">
      
        <span class="close" (click)="fermerPopup()">&times;</span>
        <div class="text-center p-4 pb-0">
          <h2 class="mb-0" style="color: rgb(193, 49, 49);">Add Projects</h2>
        </div>

      <div class="card-body">
        <form [formGroup]="validateForm" (ngSubmit)="fermerPopup()">
         
  
          <div class="form-group">
           <label for="description">Description:</label>
           <textarea formControlName="description" id="description" class="form-control"></textarea>
          </div>
          
          <div class="form-group">
            <label for="nom">nom:</label>
            <input type="text" formControlName="nom" id="nom" class="form-control">
          </div>
          <div class="form-group">
              <label for="specialite">specialite:</label>
              <input type="text" formControlName="specialite" id="specialite" class="form-control">
            </div>
  
          
  
       
  
          <div class="form-group">
            <label for="nombre">Nombre de participants:</label>
            <input type="number" formControlName="nombre" id="nombre" class="form-control">
          </div>
        

          <div class="center" id="bb">
            <button type="submit" (click)="postprojet()" class="btn btn-danger">Ajouter</button>
          </div>
       </form>
      </div>
    </div>
  </div>


  <div #popupModalUpdate class="modal">
    <div class="modal-content">
      
      
        <span class="close" (click)="fermerPopup1()">&times;</span>
        <div class="text-center p-4 pb-0">
          <h2 class="mb-0" style="color: rgb(193, 49, 49);">Update Projects</h2>
        </div>

      <div class="card-body">
        <form [formGroup]="validateFormupdate " (ngSubmit)="fermerPopup1()">
         
  
          <div class="form-group">
           <label for="description">Description:</label>
           <textarea formControlName="description" id="description" class="form-control"></textarea>
          </div>
          
          <div class="form-group">
            <label for="nom">nom:</label>
            <input type="text" formControlName="nom" id="nom" class="form-control">
          </div>
          <div class="form-group">
              <label for="specialite">specialite:</label>
              <input type="text" formControlName="specialite" id="specialite" class="form-control">
            </div>
  
          
  
       
  
          <div class="form-group">
            <label for="nombre">Nombre de participants:</label>
            <input type="number" formControlName="nombre" id="nombre" class="form-control">
          </div>
        

          <div class="center" id="bb">
            <button type="submit" (click)="postprojet()" class="btn btn-danger">Ajouter</button>
          </div>
       </form>
      </div>
    </div>
  </div>



  <div #popupModalQuiz class="modal">
      <div class="modal-content">
          <span class="close" (click)="fermerPopupQuiz()">&times;</span>
          <div class="text-center p-4 pb-0">
              <h2 class="mb-0" style="color: rgb(193, 49, 49);">Votre Quiz</h2>
              <form (ngSubmit)="assignerQuizAuProjet(quizId, quiz)">

                  <label for="title">Titre :</label><br>
                  <input type="text" id="title" name="title" [(ngModel)]="quiz.title" required><br><br>
                  <button type="submit">Ajouter le quiz</button>
              </form>
          </div>
          <div class="card-body">
              <h2>Ajouter les questions</h2>
              <form (ngSubmit)="onSubmit()">
                  <label for="question">Question :</label><br>
                  <input type="text" id="question" name="question" [(ngModel)]="question.question" required><br><br>
                  <label for="option1">Option 1 :</label><br>
                  <input type="text" id="option1" name="option1" [(ngModel)]="question.options[0]" required><br>
                  <label for="option2">Option 2 :</label><br>
                  <input type="text" id="option2" name="option2" [(ngModel)]="question.options[1]" required><br>
                  <label for="option3">Option 3 :</label><br>
                  <input type="text" id="option3" name="option3" [(ngModel)]="question.options[2]" required><br><br>
                  <label for="reponse">Réponse correcte :</label><br>
                  <input id="reponse" name="reponse" [(ngModel)]="question.correctAnswer" required>
                  <br><br>
                  <button type="submit">Ajouter les questions</button>
              </form>
          </div>
      </div>
  </div>