@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.container {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 500px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333333;
}

.container span {
  font-size: 14px;
  color: #666666;
  margin-bottom: 20px;
}

.container input {
  background-color: #f0f2f5;
  border: none;
  margin: 8px 0;
  padding: 12px 15px;
  font-size: 14px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.container button.primary {
  background-color: #e11212;
  color: #ffffff;
  font-size: 14px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  bottom: 200px;
  left: 100%;
  transform: translateX(100%);
  transition: background-color 0.3s ease;


}

.container button.primary:hover {
  background-color: #35079f;
}

.container a {
  color: #333333;
  font-size: 14px;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
}

.container a:hover {
  text-decoration: underline;
}
.container button.secondary {
  background-color: transparent;
  color: #2196F3;
  border: none;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 515px;
}

.container button.secondary:hover {
  text-decoration: underline;
}
.container .radio-buttons {
  text-align: center;
  margin-top: 20px;
}

.container .radio-buttons label {
  margin-right: 20px; /* Espace entre les boutons radio */
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

/*******************************************************/


@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #c50202;
  overflow: hidden;
}
.background li {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #b10101;
  color: transparent;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 3s ease-in forwards infinite;
}

.background li:nth-child(0) {
  animation-delay: 0s;
  left: 66vw;
  top: 31vh;
}

.background li:nth-child(1) {
  animation-delay: 2s;
  left: 23vw;
  top: 59vh;
  border-color: #d80202;
}

.background li:nth-child(2) {
  animation-delay: 4s;
  left: 37vw;
  top: 78vh;
  border-color: #d80202;
}

.background li:nth-child(3) {
  animation-delay: 6s;
  left: 86vw;
  top: 3vh;
}

.background li:nth-child(4) {
  animation-delay: 8s;
  left: 73vw;
  top: 47vh;
  border-color: #d80202;
}

.background li:nth-child(5) {
  animation-delay: 10s;
  left: 3vw;
  top: 84vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjust the height as needed */
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 320px;
}

.card-header {
  text-align: center; /* Pour centrer horizontalement le texte */
}

.card-header h3 {
  margin-bottom: 10px; /* Ajouter un espacement en bas pour séparer les éléments */
}

.card-body {
  display: flex;
  flex-direction: column; /* Aligner les éléments en colonne */
  align-items: center; /* Centrer les éléments horizontalement */
}

.card-body input {
  margin-bottom: 10px; /* Ajouter un espacement entre l'input et le bouton */
}

form {
  display: flex;
  flex-direction: column;
}


input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #f80606;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
