<h5 class="card-title">Documents<span>| modifier</span></h5>
<br>  

<div class="mb-5">
    <div class="row">
      <div class="card-body" style="margin-left:50px;">
        <form [formGroup]="updateDocumentForm">
          <div class="row mb-3">
            <div class="col-sm-10">
              <input type="text" class="form-control p-2" name="titre" id="titre" placeholder="Titre" required formControlName="titre">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-10">
              <input type="date" class="form-control p-2" name="dateCreation" id="dateCreation" required formControlName="dateCreation">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-10">
              <input type="text" class="form-control p-2" name="description" id="description" placeholder="Description" required formControlName="description">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-10">
            <textarea type="text" class="form-control p-2" name="" id="taille" placeholder="taille" required formControlName="taille"></textarea>
            </div>
          </div>
          <div class="text-center">
            <input class="btn btn-primary" type="submit" (click)="updateDocument()" name="modifier" value="Modifier">
          </div>
        </form>
      </div>
    </div>
  </div>