<h5 class="card-title">Projet <span>| Affichage</span></h5>
              <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>




                            <th> description </th>
                            <th> nom </th>
                            <th> Nombre </th>
                            <th> specialité </th>
                            <th> </th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let projet of projets">
                            <td> {{projet.description}} </td>
                            <td> {{projet.nom}} </td>
                            <td> {{projet.nombre}} </td>
                            <td> {{projet.specialite}} </td>
                            <td>
                                <button class="update-button" type="button" routerLink="/dashboard/modifierprojet/{{projet.idprojet}}" class="btn btn-outline-success">Update</button>
                                <button class="delete-button" (click)="deleteProjet(projet.idprojet)" class="btn btn-outline-danger">Delete</button>
                            </td>



                        </tr>
                    </tbody>
                </table>
              </div>
