<h5 class="card-title">Projets <span>| Update</span></h5>
<br>  

<div class="mb-5" >
    <div class="row">
      <div class="card-body" style="margin-left:50px;">
        <form method="POST" [formGroup]="validateForm">
         
          
    
          <div class="row mb-3">
            <div class="col-sm-10">
              <input type="text" class="form-control p-2" name="description" id="description" placeholder="description" formControlName="description">
            </div>
          </div>
          
          <div class="row mb-3">
            <div class="col-sm-10">
              <input type="text" class="form-control p-2" name="nombre" id="nombre" placeholder="nombre" formControlName="nombre">
            </div>
            
          </div>
          <div class="row mb-3">
            <div class="col-sm-10">
              <textarea type="text" class="form-control p-2" name="nom" id="nom" placeholder="nom" formControlName="nom"></textarea>
            </div>
            <br>
          </div>
          <br>
          <div class="row mb-3">
            <div class="col-sm-10">
              <input type="text" class="form-control p-2" name="specialité" id="specialité" placeholder="specialité" formControlName="specialite">
            </div>
          </div>
          <div class="text-center">
            <input (click)="update()" class="btn btn-primary" type="submit" name="Modifier" value="Modifier">
          </div>
        </form>
      </div>
    </div>
  </div>