<h5 class="card-title">Salle <span>| Modifier</span></h5>
<br>  

<div class="mb-5">
    <div class="row">
      <div class="card-body" style="margin-left:50px;">
        <form [formGroup]="updateSalleForm">
          <div class="row mb-3">
            <div class="col-sm-10">
              <input type="text" class="form-control p-2" name="capacite" id="capacite" placeholder="Capacite" formControlName="capacite">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-10">
              <input type="text" class="form-control p-2" name="disponibilite" id="disponibilite" placeholder="Disponibilite" formControlName="disponibilite">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-10">
              <input type="text" class="form-control p-2" name="nom" id="nom" placeholder="Nom" formControlName="nom">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-10">
              <select class="form-control p-6" formControlName="selectedBlocId">
                <option value="" disabled selected>Choisir le Bloc</option>
                <option *ngFor="let bloc of blocs" [value]="bloc.id">{{ bloc.titre }}</option>
              </select>
            </div>
          </div>
          <div class="text-center">
            <input class="btn btn-primary" type="submit" (click)="updateSalle()" value="Modifier">
          </div>
        </form>
      </div>
    </div>
  </div>