<h5 class="card-title">Blocs <span>| Affichage</span></h5>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th> Statut </th>
                <th> Titre </th>
                <th>    </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bloc of blocs">
                <td>
                    <span class="badge" [ngClass]="{
                        'bg-success': bloc.statut === 'Activé',
                        'bg-danger': bloc.statut === 'Désactivé',
                        'bg-warning': bloc.statut === 'En Cours de Construction'
                      }">
                        {{ bloc.statut }}
                    </span>
                </td>
                <td> {{ bloc.titre }} </td>
                <td>
                    <a routerLink="/dashboard/modifierBloc/{{bloc.id}}"><button class="btn btn-outline-success btn-sm">Modifier</button></a>
                    &nbsp;
                    <a (click)="deleteBloc(bloc.id)"><button class="btn btn-outline-danger btn-sm">Supprimer</button></a>
                </td>
            </tr>
        </tbody>
    </table>

    <br>
    <div style="margin-left:50px;">
        <h5 class="card-title">Map <span>| ESPRIT</span></h5>
        <app-map></app-map>
        <br><br><br>
    </div>

</div>
