<h5 class="card-title">Documents<span>| Affichage</span></h5>
              <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th> Titre</th>
                            <th> Date de création</th>
                            <th> Description </th>
                            <th> Taille </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let doc of docs">
                            <td> {{ doc.titre }} </td>
                            <td> {{ doc.dateCreation | date:'dd/MM/yyyy' }} </td>
                            <td> {{ doc.description}} </td>
                            <td> {{ doc.taille }} </td>
                            <td>
                                <a routerLink="/dashboard/modifierDocument/{{ doc.id }}"><button class="btn btn-outline-success btn-sm">Modifier</button></a>
                                &nbsp;
                                <a (click)="deleteDocument(doc.id)"><button class="btn btn-outline-danger btn-sm">Supprimer</button></a>
                                &nbsp;
                                <a (click)="downloadPdf(doc.path)"><button class="btn btn-outline-info btn-sm">Télécharger</button></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
              </div>
