<h5 class="card-title">Rendez Vous<span>| Modifier</span></h5>
<br>  

<div class="mb-5">
    <div class="row">
      <div class="card-body" style="margin-left:50px;">
        <form [formGroup]="updateRendezVousForm">
          <div class="row mb-3">
            <div class="col-sm-10">
              <input type="date" class="form-control p-2" name="dateRdv" id="dateRdv" required formControlName="dateRdv">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-10">
              <input type="text" class="form-control p-2" name="description" id="description" placeholder="Description" required formControlName="description">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-10">
              <input type="text" class="form-control p-2" name="titre" id="titre" placeholder="Titre" required formControlName="titre">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-10">
            <textarea type="text" class="form-control p-2" name="" id="contact" placeholder="Contact" required formControlName="contact"></textarea>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-10">
              <input type="text" class="form-control p-2" name="heure" id="heure" placeholder="Heure"required formControlName="heure">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-10">
                <input type="text" class="form-control p-2" name="remarques" id="remarques" placeholder="Remarques" required formControlName="remarques">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-10">
              <input type="text" class="form-control p-2" name="status" id="status" placeholder="Status" required formControlName="status">
            </div>
            <br>
          </div>
          <div class="text-center">
            <input class="btn btn-primary" type="submit" (click)="updateRdv()" name="modifier" value="Modifier">
          </div>
        </form>
      </div>
    </div>
  </div>