

<div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->


      <!-- Contenu principal -->
      <main class="col-md-9 mt-5 mb-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-10">
              <!-- Votre tableau et son contenu ici -->
              <div class="card">
                <div class="card-header">
                  <h1 class="text-center-success"     style="    color: rgb(85, 13, 13) !important;
                  "
                  >
                    <strong>Liste des participations</strong>
                    <span class="text-danger"></span>
                  </h1>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <!-- En-tête du tableau -->
                      <thead>
                        <tr >

                            <th >id</th>
                            <th >User</th>
                            <th >Titre</th>
                          <th >Statut</th>
                          <th>Actions</th>
                          <th></th>
                        </tr>
                      </thead>
                      <!-- Corps du tableau -->
                      <tbody>
                        <!-- Boucle sur les données pour afficher chaque demande -->
                        <tr *ngFor="let par of donnees">



                            <td>{{ par.idP }}</td>
                            <td>{{ par.user.id}} {{ par.user.name}}</td>
                            <td>{{ par.categoriePar }}</td>
                            <td>{{ par.status  }}</td>
                            <td>


                              <button (click)="acceptParticipation(par.idP)"  class="btn btn-success">Accepter</button>
                              <button (click)="refuseParticipation(par.idP)" class="btn btn-danger">Refuser</button>
                            </td>
                            <td class="col">


                              <a
                                class="btn text-danger"

                              >

                              <img class="img-fluid" src="assets/frontOffice/img/bin.png" alt="" style="width: 30px" >
                                <span class="material-icons">  </span>
                              </a>

                              <a
                              class="btn text-danger" > <img class="img-fluid" src="assets/frontOffice/img/pencil.png" alt="" style="width: 30px" >
                              <span class="material-icons"   > </span>
                            </a>
                            </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
</div>
