<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ouvrir un lien</title>
</head>
<br>
<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
  <button  class="section-title bg-white  text-center text-danger px-3" (click)="ouvrirPopup()">Add Courses
</button>
  <h1 class="mb-5">Popular Courses</h1>
</div>
<a type="submit" href="http://localhost:8084">lancer votre visioConference</a>

<section>
<div class="card-container">

<app-meet/>
    <div class="card" *ngFor="let cour of donnees" >
      <div class="text-center p-4 pb-0">
        <h2 class="mb-0">{{cour.categorie}}</h2>


        <h5 class="mb-4" >{{cour.prix}} DT</h5>
        <h6> <small class="flex-fill text-center border-end py-2"><i class="fas fa-calendar-alt"> </i>{{cour.date | date:'yyyy-MM-dd'}}</small></h6>
          </div>
      <div class="card-body">
        <div class="d-flex border-top">
          <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-danger me-2"></i>John Doe</small>
          <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-danger me-2"></i>{{cour.duree}}Hrs</small>
          <small class="flex-fill text-center py-2"><i class="fa fa-user text-danger me-2"></i> {{cour.nb_participant_max}} Students</small>

       </div>
    <br>
    <br>
    <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">


        <a (click)="ouvrirPopup1(cour.idCours)" class="flex-shrink-0 btn btn-sm btn-danger px-3 border-end" style="border-radius: 30px 0 0 30px;">Modifier</a>
        <!-- Autres boutons -->


      <button routerLink="/front/participation"  style="    background-color: #dc3545;" class="flex-shrink-0 btn btn-sm btn-danger px-3">participations</button>
      <a (click)="deleteCours(cour.idCours)" class="flex-shrink-0 btn btn-sm btn-danger px-3" style="border-radius: 0 30px 30px 0;">Delete</a>
  </div>
  </div>
    </div>
</div>

</section>
 <div #popupModal class="modal">
    <div class="modal-content">

        <span class="close" (click)="fermerPopup()">&times;</span>
        <div class="text-center p-4 pb-0">
          <h2 class="mb-0" style="color: rgb(193, 49, 49);">Add Courses</h2>
        </div>

      <div class="card-body">
        <form [formGroup]="validateForm" (ngSubmit)="fermerPopup()">
          <div class="form-group">
            <label for="date" >Date:</label>
            <input type="date" formControlName="date" id="date" class="form-control">
          </div>

          <div class="form-group">
           <label for="description">Description:</label>
           <textarea formControlName="description" id="description" class="form-control"></textarea>
          </div>

          <div class="form-group">
            <label for="categorie">Categorie:</label>
            <input type="text" formControlName="categorie" id="categorie" class="form-control">
          </div>

          <div class="form-group">
            <label for="duree">Duree:</label>
            <input type="text" formControlName="duree" id="duree" class="form-control">
           </div>

           <div class="form-group">
             <label for="prix">Prix:</label>
             <input type="text" formControlName="prix" id="prix" class="form-control">
          </div>



          <div class="form-group">
            <label for="nb_participant_max">Nombre de participants:</label>
            <input type="number" formControlName="nb_participant_max" id="nb_participant_max" class="form-control">
          </div>


          <div class="center" id="bb">
            <button type="submit" (click)="postCour()" class="btn btn-danger">Ajouter</button>
          </div>
       </form>
      </div>
    </div>
  </div>

  <div #popupModalupdate class="modal">
    <div class="modal-content">

        <span class="close" (click)="fermerPopup1()">&times;</span>
        <div class="text-center p-4 pb-0">
          <h2 class="mb-0" style="color: rgb(193, 49, 49);">Update Courses</h2>
        </div>

      <div class="card-body">
        <form [formGroup]="validateFormUpdate" (ngSubmit)="fermerPopup1()">
          <div class="form-group">
            <label for="date" >Date:</label>
            <input type="date" formControlName="date" id="date" class="form-control">
          </div>

          <div class="form-group">
           <label for="description">Description:</label>
           <textarea formControlName="description" id="description" class="form-control"></textarea>
          </div>

          <div class="form-group">
            <label for="categorie">Categorie:</label>
            <input type="text" formControlName="categorie" id="categorie" class="form-control">
          </div>

          <div class="form-group">
            <label for="duree">Duree:</label>
            <input type="text" formControlName="duree" id="duree" class="form-control">
           </div>

           <div class="form-group">
             <label for="prix">Prix:</label>
             <input type="text" formControlName="prix" id="prix" class="form-control">
          </div>



          <div class="form-group">
            <label for="nb_participant_max">Nombre de participants:</label>
            <input type="number" formControlName="nb_participant_max" id="nb_participant_max" class="form-control">
          </div>


          <div class="center" id="bb">
            <button type="submit" (click)="updatecour()" class="btn btn-danger">Modifier</button>
          </div>
       </form>
      </div>
    </div>
  </div>






