<h5 class="card-title">Cours <span>| Modifier</span></h5>
<br>  

<div class="mb-5" >
    <div class="row">
      <div class="card-body" style="margin-left:50px;">
        <form method="POST" [formGroup]="validateFormUpdate">
         
          
    
          <div class="row mb-3">
            <div class="col-sm-10">
              <input type="date" class="form-control p-2" name="date" id="date" formControlName="date">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-10">
              <textarea type="text" class="form-control p-2" name="description" id="description" placeholder="description" formControlName="description"></textarea>
            </div>
            <br>
          </div>
          
          <div class="row mb-3">
            <div class="col-sm-10">
              <input type="text" class="form-control p-2" name="categorie" id="categorie" placeholder="categorie" formControlName="categorie">
            </div>
          </div>
          
          <div class="row mb-3">
            <div class="col-sm-10">
              <input type="text" class="form-control p-2" name="duree" id="duree" placeholder="duree" formControlName="duree">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-10">
              <input type="text" class="form-control p-2" name="prix" id="prix" placeholder="prix" formControlName="prix">
            </div>
          </div>
          
          <div class="row mb-3">
            <div class="col-sm-10">
              <input type="text" class="form-control p-2" name="nb_participant" id="nb_participant" placeholder="nb_participant" formControlName="nb_participant">
            </div>
          </div>
         
          <div class="text-center">
            <input (click)="updatecour()" class="btn btn-primary" type="submit" name="modif" value="Modifier">
          </div>
        </form>
      </div>
    </div>
  </div>