<h5 class="card-title">Cours <span>| Modifier</span></h5>
<br>  

<div class="mb-5">
    <div class="row">
      <div class="card-body" style="margin-left:50px;">
        <form method="POST">
          <div class="row mb-3">
            <div class="col-sm-10">
              <input type="text" class="form-control p-2" name="nom" id="nom" placeholder="Nom">
            </div>
          </div>
         
         
       
          <div class="row mb-3">
            <div class="col-sm-10">
              <input type="date" class="form-control p-2" name="date" id="date">
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-10">
              <textarea type="text" class="form-control p-2" name="decription" id="decription" placeholder="decription"></textarea>
            </div>
            <br>
          </div>
          <div class="text-center">
            <input class="btn btn-primary" type="submit" name="modif" value="Modifier">
          </div>
        </form>
      </div>
    </div>
  </div>