<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
<ul class="background">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>

  <li></li>
  <li></li>
  <li></li>
<br />  <br /> <br /> <br /> <br /> <br />
  <li></li>

</ul>
<div class="container d-flex justify-content-center align-items-center ">
  <div class="container flex-fill justify-content-center" id="container">
    <div class="form-container sign-up">
      <form>
        <h1>Create Account</h1>
        <div class="social-icons">
          <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <span>or use your email for registeration</span>
        <input type="text" placeholder="Name">
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <button>Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in">
      <form [formGroup]="registerForm">
        <h1>S'authentifier </h1>

        <span>Acces reservé au etudiant d'ESPRIT</span>
        <input type="email" name="email" placeholder="Email" required formControlName="email">
        <input type="password" name="mdp" placeholder="Password" required formControlName="mdp">
        <a routerLink="/forgot-password">Mot de passe oublie?</a>
        <div>
          <ngx-recaptcha2 #captchaElem
                          [siteKey]="siteKey"
                          (success)="handleSuccess($event)"

                          formControlName="recaptcha">
          </ngx-recaptcha2>
        </div>


        <button value="Login" [disabled]="registerForm.invalid" (click)="login()">Se Connecter</button>
      </form>
    </div>
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1>Welcome Back!</h1>
          <p>Enter your personal details to use all of site features</p>
          <button class="hidden" id="login">Sign In</button>
        </div>
        <div class="toggle-panel toggle-right">
          <h1 style="color: black;">Bonjour, ami !</h1>
          <p>Inscrivez-vous avec vos coordonnées personnelles pour utiliser toutes les fonctionnalités du site !</p>
          <button class="hidden" id="register" routerLink="/register"> S'inscrire</button>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>
