<div class="wrapper">
    <h3>Merci de donner votre avis!</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="rating">
          <input type="number" name="rating" [(ngModel)]="rating" hidden>
          <i class='bx bx-star star' style="--i: 0;" (click)="onStarClick(0)"></i>
          <i class='bx bx-star star' style="--i: 1;" (click)="onStarClick(1)"></i>
          <i class='bx bx-star star' style="--i: 2;" (click)="onStarClick(2)"></i>
          <i class='bx bx-star star' style="--i: 3;" (click)="onStarClick(3)"></i>
          <i class='bx bx-star star' style="--i: 4;" (click)="onStarClick(4)"></i>
        </div>
        <textarea name="opinion" [(ngModel)]="description" cols="30" rows="5" placeholder="Your opinion..."></textarea>
        <div class="btn-group">
          <button type="submit" class="btn submit" (click)="onSubmit()">Confirmer</button>
          <button type="button" class="btn cancel">Annuler</button>
        </div>
      </form>
</div>
